<html>
  <head></head>
  <body>
    <h1>Du Meine Güte</h1>
    <h2>Login</h2>
    <input id="username">Username</input>
    <button id="submit-login">Login</button>
    <h2>games</h2>
    <button id="get-games">Get games</button>
    <h3>Games list</h3>
    <div id="games-list"></div>
    <hr />
    <button id="join-game">Join game</button>
    <h2>messages</h2>
    <input id="message-detail">Send message</input>
    <button id="send-message">Send message</button>
    <script>
      window.onload = function() {
        // Setup login
        document.querySelector("#submit-login").onclick = function () {
          var myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/JSON");

          var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify({
              username: "richard"
            }),
            redirect: 'follow'
          };

          fetch("http://localhost:4444/login", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .catch(error => console.log('error', error));
        }

        // Get games list
        document.querySelector("#get-games").onclick = function () {
          // Get dom refs
          const gamesList = document.querySelector("#games-list")
          

          // Get data
          var myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/JSON");

          var requestOptions = {
            method: 'GET',
            headers: myHeaders,
            redirect: 'follow'
          };

          fetch("http://localhost:4444/game", requestOptions)
            .then(response => response.json())
            .then(result => {
              gamesList.append(result.map(r => document.createElement("p").innerText = JSON.stringify(r)))
            })
            .catch(error => console.log('error', error));
        }

        // Setup join game
        document.querySelector("#join-game").onclick = function () {
          var myHeaders = new Headers();
          myHeaders.append("Content-Type", "application/JSON");

          var requestOptions = {
            method: 'POST',
            headers: myHeaders,
            body: JSON.stringify({
              gameID: "5f01b2ee331b71fafe3ab713"
            }),
            redirect: 'follow'
          };

          fetch("http://localhost:4444/game/join", requestOptions)
            .then(response => response.text())
            .then(result => console.log(result))
            .then(() => {
              // Create WebSocket connection.
              const socket = new WebSocket('ws://localhost:4444/game/live');

              // Connection opened
              socket.addEventListener('open', function (event) {
                  socket.send('status');
              });

              // Listen for messages
              socket.addEventListener('message', function (event) {
                  console.log('Message from server ', event.data);
              });

              const messageDetailButton = document.getElementById('message-detail');
              const sendMessageButton = document.getElementById('send-message');
              sendMessageButton.addEventListener('click', () => {
                socket.send(messageDetailButton.value)
              });
            })
            .catch(error => console.log('error', error));
        }
      }
    </script>
  </body>
</html>