// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import "~@nativescript/theme/core";
@import "~@nativescript/theme/forest";

// Override variables here

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
frame {
  --employee-color-base: rgb(203, 154, 94);
  --employee-color-highlight: rgb(216, 183, 142);
  --employee-color-lowlight: rgb(155, 106, 53);

  --clay-color-base: rgb(203, 94, 94);
  --clay-color-highlight: rgb(216, 142, 142);
  --clay-color-lowlight: rgb(155, 53, 53);

  --wood-color-base: rgb(112, 203, 94);
  --wood-color-highlight: rgb(167, 216, 142);
  --wood-color-lowlight: rgb(101, 155, 53);

  --metal-color-base: rgb(94, 152, 203);
  --metal-color-highlight: rgb(142, 184, 216);
  --metal-color-lowlight: rgb(53, 111, 155);

  --wheat-color-base: rgb(203, 194, 94);
  --wheat-color-highlight: rgb(216, 207, 142);
  --wheat-color-lowlight: rgb(155, 135, 53);

  --wool-color-base: rgb(94, 203, 196);
  --wool-color-highlight: rgb(142, 209, 216);
  --wool-color-lowlight: rgb(53, 153, 155);

  --unknown-color-base: rgb(139, 94, 203);
  --unknown-color-highlight: rgb(173, 142, 216);
  --unknown-color-lowlight: rgb(104, 53, 155);

  --self-color-base: rgb(94, 134, 203);
  --self-color-highlight: rgb(142, 169, 216);
  --self-color-lowlight: rgb(53, 65, 155);

  --opponent-color-base: rgb(203, 172, 94);
  --opponent-color-highlight: rgb(216, 199, 142);
  --opponent-color-lowlight: rgb(155, 123, 53);

  --server-color-base: rgb(94, 203, 94);
  --server-color-highlight: rgb(142, 216, 142);
  --server-color-lowlight: rgb(58, 155, 53);
}

.lowlight-outline-self {
  border-color: var(--self-color-lowlight);
}
.lowlight-bg-self {
  background-color: var(--self-color-lowlight);
}
.highlight-bg-self {
  background-color: var(--self-color-highlight);
}
.base-bg-self {
  background-color: var(--self-color-base);
}

.lowlight-outline-server {
  border-color: var(--server-color-lowlight);
}
.lowlight-bg-server {
  background-color: var(--server-color-lowlight);
}
.highlight-bg-server {
  background-color: var(--server-color-highlight);
}
.base-bg-server {
  background-color: var(--server-color-base);
}

.lowlight-outline-opponent {
  border-color: var(--opponent-color-lowlight);
}
.lowlight-bg-opponent {
  background-color: var(--opponent-color-lowlight);
}
.highlight-bg-opponent {
  background-color: var(--opponent-color-highlight);
}
.base-bg-opponent {
  background-color: var(--opponent-color-base);
}

.button {
  font-family: "Grandstander", "Grandstander-Regular";
  font-size: 30px;
  border-width: 7px;
  border-color: lightblue;
  border-radius: 7px;
  background: rgb(188, 209, 215);
  background: linear-gradient(
    0deg,
    rgba(188, 209, 215, 1) 0%,
    rgba(211, 229, 235, 1) 25%,
    rgba(211, 229, 235, 1) 75%,
    rgba(237, 246, 249, 1) 100%
  );
  margin: 5px 0px 5px 0px;
}

.button:highlighted {
  border-color: #8ebccc;
  background: rgb(188, 209, 215);
  background: linear-gradient(
    0deg,
    rgb(209, 225, 230) 0%,
    rgb(227, 240, 245) 25%,
    rgb(227, 242, 247) 75%,
    rgb(250, 254, 255) 100%
  );
}
