DMG_CONNECTION_STRING=mongodb://localhost:27017/du-meine-gute
DMG_HOST=localhost
DMG_PORT=4444
DMG_SESSION_SECRET=local-session-secret
DMG_ENV=development
DMG_MESSAGE_QUEUE_BROKER_URLS=localhost:19092,localhost:29092
DMG_MESSAGE_QUEUE_CLIENT_ID=du-meine-gute-server-local
DMG_MESSAGE_QUEUE_TOPIC=game